In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
## Load the trained model, scalar pickle, onehot 

model=load_model('model.h5')

## Load the encoder and scalar
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
input_data = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' :1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 50000

}

In [4]:
## One hot encode 'Geography'

geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [5]:
input_df =pd.DataFrame([input_data])

input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [6]:
## Encode Categorical variables

input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])

input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [7]:
## concatination one hot encoded

input_df =  pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [8]:
## Scaling the input data

input_scaled = scaler.transform(input_df)

input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [9]:
# PRedict Churn

prediction = model.predict(input_scaled)

prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 108ms/step

array([[0.06460062]], dtype=float32)

In [10]:
prediction = model.predict(input_scaled)

prediction_proba = prediction[0][0]
prediction_proba

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step

np.float32(0.06460062)

In [11]:
prediction_proba = prediction[0][0]

In [12]:
prediction_proba

np.float32(0.06460062)

In [13]:
if  prediction_proba > 0.5:
    print('The customer is likely to Churn.')
else:
    print('The Customer is not likely to Churn.')

The Customer is not likely to Churn.

1. We have done feature engineering
2. We have trained entire ANN 
3. We got the loss (loss should alwaays be very less)
4. Visualization of loss on TensorBoard
5. Visualized entire diiagrams
6. We worked on various parameters
7. We did the prediction
8. We also saved the pickle files and then  loaded the pickle files.

In [14]:
# # Importing the libraries
# import numpy as np
# import pandas as pd
# import tensorflow as tf
# from sklearn.preprocessing import LabelEncoder, StandardScaler
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import confusion_matrix, accuracy_score

# # Importing the dataset
# dataset = pd.read_csv(r'D:\Analytics Camp\Generative AI\code\4.ANN Project\Gen AI_Class_15\Prediction_and_Deployment\Churn_Modelling.csv')
# X = dataset.iloc[:, 3:13].values
# y = dataset.iloc[:, 13].values

# # Encoding categorical data
# labelencoder_X_1 = LabelEncoder()
# X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
# labelencoder_X_2 = LabelEncoder()
# X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

# # Feature Scaling
# sc = StandardScaler()
# X = sc.fit_transform(X)

# # Splitting the dataset into the Training set and Test set
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# # Initializing the ANN
# ann = tf.keras.models.Sequential()

# # Adding the input layer and the first hidden layer
# ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

# # Adding the second hidden layer
# ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

# # Adding the output layer
# ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# # Compiling the ANN
# ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# # Training the ANN on the Training set
# ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

# # Predicting the Test set results
# y_pred = ann.predict(X_test)
# y_pred = (y_pred > 0.5)

# # Making the Confusion Matrix
# cm = confusion_matrix(y_test, y_pred)
# print(cm)
# accuracy = accuracy_score(y_test, y_pred)
# print(f'Accuracy: {accuracy}')

In [15]:
# # Example input data for prediction
# input_data = {
#     'CreditScore': 600,
#     'Geography': 'France',
#     'Gender': 'Male',
#     'Age': 40,
#     'Tenure': 3,
#     'Balance': 60000,
#     'NumOfProducts': 2,
#     'HasCrCard': 1,
#     'IsActiveMember': 1,
#     'EstimatedSalary': 50000
# }

# # Converting input data to DataFrame
# input_df = pd.DataFrame([input_data])

# # Encoding categorical data
# input_df['Geography'] = labelencoder_X_1.transform(input_df['Geography'])
# input_df['Gender'] = labelencoder_X_2.transform(input_df['Gender'])

# # Feature Scaling
# input_scaled = sc.transform(input_df)

# # Making prediction
# prediction = ann.predict(input_scaled)
# prediction = (prediction > 0.5)

# # Output the prediction
# if prediction:
#     print("The customer is likely to churn.")
# else:
#     print("The customer is not likely to churn.")